<% include ../partials/header.ejs %>
<main>
	<h1><%= title %></h1>
	<table class="table-condensed">
    <thead>
      <tr>
				<% for(var i=0; i< th.length;i++) { %>
        <th><%=th[i]%></th>
				<%}%>
      </tr>
    </thead>
    <tbody>
      	<% for(var i=0; i< data.length;i++) { %>
					<tr>
            <a href="/person/<%= data[i].email%>">
							<% if(th.length>3){ %>
							<td><%=data[i].businame %></td>
							<td><%=data[i].person %></td>
						<% }else{ %>
              <td><%=data[i].firstname %></td>
						<%}%>
              <td><%=data[i].phone%></td>
    					<td><%=data[i].email%></td>
            </a>
          </tr>
        <%}%>
    </tbody>
	</table>
	<div>
		<a class="btn btn-success" href="/admin/add<%=title%>">Add</a>
	</div>
</main>
<% include ../partials/footer.ejs %>
