<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> | <%= business.name%></title>
    <!-- CSS-->
    <link type = "text/css" rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link type = "text/css" rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css'/>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/javascripts/ENTRY.js"></script>
  </head>
  <body>
    <header>
        <div>
          <p class ="header__logo" ><%= business.name %></p>
          <p class="logoContact"><%= business.phone %> | <%= business.email%></p>
        </div>
        <!-- navigation bar with dynamic links -->
        <nav class="nav">
          <ul class="nav__list">
              <% for(var i=0;i<pages.length;i++) {%>
            <li class="nav__links">
                <% var link='/'+pages[i];
                   if(user){
                      if(user.position=='admin'){
                        link='/admin/'+pages[i];
                      }
                    }  %>
              <a href ="<%= link%>"><%= pages[i]%></a></li>
            <% } %>
            <% if (!user) { %>
               <li class="nav__links"><a href="/register">Register</a></li>
               <li class="nav__links"><a href="/login">Login</a></li>
            </ul>
            <% } else if(user.position!=='admin') { %>
               <li class="nav__links"><a href="/profile">My Profile</a></li>
               <li class="nav__links"><a href="/logout">Logout</a></li>
               <%}else{%>
               <li class="nav__links"><a href="/logout">Logout</a></li>
           <% }%>
        </ul>
        </nav>
        <!-- Navigation ends -->
  </header>
  <!-- Header Ends -->
