<% include partials/header.ejs %>
<main>
	<script src="/javascripts/angular-file-upload.js"></script>
	<section class = "info">
		<table>
			<tbody>
				<tr>
					<h3><%= title%></h3>
				</tr>
				<tr>
					<td>
						<table class="table-condensed" >
							<tbody>
								<tr><td>First Name:     </td><td><%=user.firstname %></td></tr>
								<tr><td>Last Name:     </td><td><%=user.lastname %></td></tr>
								<tr><td>Phone:     </td><td><%=user.phone %></td></tr>
								<tr><td>email:     </td><td><%=user.email %></td></tr>
								<!-- <tr><td>UserName:  </td><td><%=user.username %><%=user.id%></td></tr> -->
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
	<section ng-app="FileModule" ng-controller="FileController" uploader="uploader">
		<section>
			<h3>My Files</h3>
			<form ng-submit="addFile()" style='display:inline' uploader="uploader">
				<label for="Description" class="control-label">Description</label>
					<input type="text" name="Description" placeholder="Information about file" ng-model="Description"/>
					<input type="file" nv-file-select="" multiple=""/>
				 <button class="btn btn-success" ng-show="uploader.queue.length>0" ng-click="upload()">Add</button>
				<!-- <button class="btn btn-success" ng-click="addFile()">Add</button> -->
			<!-- </form> -->
		</section>
		<section>
			<h2>{{ uploader.queue.length }} Files added</h2>
			<table>
				<tbody>
					<tr ng-show="uploader.queue.length>0" ng-repeat="item in uploader.queue ">
						<td>{{ item.file.name }}</td>
						<td>
							<a ng-click=item.remove()>
								<i class="fa fa-trash fa-1" aria-hidden="true"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	</section>
				<!-- <table>
					<tbody>
						<tr>
							<td>
								<form class= "tdForm" method="post" enctype="multipart/form-data" >
									<input type="file" name="document" multiple="multiple" />
									<input type="text" name="description" placeholder="Enter file description"/>
									<input type="submit" name="submit" value="OK"/>
								</form>
							</td>
						</tr>
					</tbody>
				</table> -->
</main>

<script src="javascripts/files.js"></script>
<% include partials/footer.ejs %>
